.product-grid-container {
  background-color: #f1f1f1;
  padding: 40px 5% 30px;
}
.product-grid-container .product-grid-body {
  padding: 5px;
}
.product-grid-container .product-grid-title {
  float: left;
  font-size: 32px;
  font-weight: 600;
}
.product-grid-container .product-grid-body ul.product-grid-ul {
  padding: 0;
  display: inline-block;
  margin: 0 -20px;
}
.product-grid-container .product-grid-body ul li.product-grid-li {
  list-style-type: none;
  display: inline-block;
}
.product-grid-container .product-grid-body ul li.product-grid-li:first-child {
  padding-left: 0;
}
.product-grid-container .product-grid-body ul li.product-grid-li:last-child {
  padding-right: 0;
}
.product-grid-body ul .product-grid-li a {
  padding: 10px;
  display: block;
  border-radius: 10px;
}
.product-grid-body ul li.product-grid-li.product-grid-3 {
  width: 33.3%;
}
.product-grid-body ul li.product-grid-li.product-grid-4 {
  width: 25%;
}
.product-grid-body ul li.product-grid-li a .product-grid-box {
  width: 100%;
  height: 200px;
  float: left;
  background-size: cover;
  border-radius: 10px;
}
.product-grid-body ul li.product-grid-li a .product-grid-box .product-item-title {
  text-decoration: none;
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.65));
}
.product-grid-body ul li.product-grid-li a .product-grid-box .product-item-title div {
  padding: 10px;
  font-size: 24px;
  white-space: normal;
  display: inline-block;
}

@media(max-width: 480px) {
  .product-grid-container {
    padding: 20px 5% 15px;
  }
  .product-grid-container .product-grid-title {
    font-size: 18px;
  }
  .product-grid-container .product-grid-body ul.product-grid-ul {
    margin: 0 -10px;
  }
  .product-grid-body ul .product-grid-li a {
    padding: 5px;
  }
  .product-grid-body ul li.product-grid-li.product-grid-3, .product-grid-body ul li.product-grid-li.product-grid-4 {
    width: 50%;
  }
  .product-grid-body ul li.product-grid-li a .product-grid-box {
    height: 100px;
    border-radius: 5px;
  }
  .product-grid-body ul li.product-grid-li a .product-grid-box .product-item-title {
    border-radius: 5px 5px 0 0;
  }
  .product-grid-body ul li.product-grid-li a .product-grid-box .product-item-title div {
    padding: 5px;
    font-size: 14px;
  }
}
